#finalResult {
    font-weight: bold;
    margin-top: 10px;
}

#playAgainBtn {
    display: none;
    margin-top: 10px;
}

/* putting it all in a flex container */
* {
    background-color: bisque;
    margin: 10px;
    padding: 10px 0;
    font-size: 1.2rem;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 5px outset #1C6EA4;
    border-radius: 5%;
    margin: 10px;
    padding: auto;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    color:rgb(67, 3, 87);
}

button {
    padding: 15px;
    font-size: 1rem;
    color: black;
    background-color: rgb(162, 192, 173);
    border-radius: 30px;
    border: 2px outset #1C6EA4;
    box-shadow: 4px -5px 12px 0px rgba(50, 23, 204, 0.64);
}

#resultDisplay,
#finalResult {
    display: flex;
    justify-content: center;
}
